*.class
.vscode/

# Maven #
.classpath
.project
.settings/
target/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.lnk

## NODE ###
/node_modules
/.pnp
.pnp.js
package-lock.json
