@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--text-primary: #FFF;
	--text-secundaty: #000;
	--font-heading: 'Poppins';
	--font-default: 'Montserrat';
	font-size: 62.5%; /* 10/16  */
}

body{
	font-family: var(--font-default);
}

header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	height: 100vh;
	padding-top: 12.5rem;
	padding-left: 7rem;
	color: var(--text-primary);
	position: relative;
	overflow: hidden;
}

header::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url("../images/hero.jpg");
	background-size: cover;
	animation: zoom 5s;
}

@keyframes zoom {
	0%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	}
}

h1, h2, h3, h4 {
	font-weight: 900;
	font-family: var(--text-primary);
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

span {
    font-size: 4rem;
}

p{
    font-size: 2rem;
}

.botao {
	color: #FFF;
	font-size: 1.9rem;
	text-decoration: none;
	background: linear-gradient(90deg, #2b5876 100%, #4e4376 100%);
	padding: 1rem 2rem;
	border-radius: 7px;
	text-align: center;
}

.botao:hover{
	opacity: .8;
}

#avatar {
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

section {
	display: flex;
	gap: 2rem;
	padding: 7rem;
}

div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

#secao-projetos{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #212121;
}

#secao-projetos ul{
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	color: var(--text-primary);
}

#secao-projetos li{
	list-style: none;
}

.card{
	width: 25rem;
	height: 30rem;
	position: relative;
	cursor: pointer;
}

.card-img-wrapper{
	width: 100%;
	height: 100%;
	background-color: #262626;
	border-radius: 10px;
}

.card-img-wrapper img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: .8;
	transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
	opacity: .5;
}

.card-text{
	position: absolute;
	bottom: -2rem;
	opacity: 0;
	padding: 2rem;
	text-shadow: .3rem .2rem .3rem rgba(0, 0, 0, .6)
}

.card:hover .card-text{
	opacity: 1;
	bottom: 0;
}

#secao-projetos h3{
	font-family: var(--font-default);
	font-weight: 700;
	font-size: 2rem;
	line-height: 3.3rem;
	color: #A044FF;
}

#secao-projetos p{
	font-size: 1.5rem;
}